<!DOCTYPE html>
<html>
<head>
    <title>Editar Fornecedor</title>
</head>
<style>
    .form-container {
        max-width: 900px;
        margin: 50px auto;
        padding: 40px;
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }
    .form-group {
        margin-bottom: 20px;
    }
    .form-group label {
        font-weight: bold;
    }
    button[type="submit"] {
        background-color: #0259b7;
        color: white;
        border: none;
        padding: 12px 20px;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 8px;
        width: 100%;
    }
    .btn-view {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 1.1rem;
        border-radius: 8px;
        margin-top: 20px;
        width: 100%;
    }
    .btn-view:hover {
        background-color: #218838;
    }
</style>

<body>
    <h1>Editar Fornecedor</h1>
    <form action="/fornecedores/<%= fornecedor.id %>?_method=PUT" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" value="<%= fornecedor.nome %>" required>
        <br>
        <label for="cpf_cnpj">CPF/CNPJ:</label>
        <input type="text" name="cpf_cnpj" value="<%= fornecedor['cpf_cnpj'] %>" required>

        <label for="email">Email:</label>
        <input type="email" name="email" value="<%= fornecedor.email %>" required>
        <br>
        <label for="telefone">Telefone:</label>
        <input type="text" name="telefone" value="<%= fornecedor.telefone %>" required>
        <br>
        <label for="endereco">Endereço:</label>
        <input type="text" name="endereco" value="<%= fornecedor.endereco %>" required>
        <br>
        <button type="submit">Salvar Alterações</button>
    </form>
</body>
</html>
